<!DOCTYPE html>
<html ng-app="visitorsApp">

<head>
    <!--Let browser know website is optimized for mobile-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Script for import the AngularJS v1.5.8 library from the CDN version (temporarily) -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
</head>

<!-- Body with the tag ng-controller to include the createController from the script.js file -->
<body ng-controller="createController">

<!-- Jumbotron header -->
<div class="jumbotron">
    <h1>Registro de Visitantes</h1>
</div>

<!-- Black navBar with the company name, login form (without use), lock/unlock button and search field-->
<nav class="navbar navbar-inverse" style="top:-2em"/>
<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Flint Group</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Listado <span class="sr-only">(current)</span></a></li>
            <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown" title="User dashboard"> Login or Signup &nbsp;
                    <i class="fa fa-lg fa-user"></i></a>
                <div class="dropdown-menu">
                    <form id="formLogin" class="form container-fluid">
                        <br>
                        <div class="form-group">
                            <input class="form-control" ng-model="username" name="username" id="username" type="text"
                                   placeholder="Usuario" pattern="^[a-z,A-Z,0-9,_]{6,15}$" data-valid-min="6"
                                   title="Enter your username" required="">
                        </div>
                        <div class="form-group">
                            <input class="form-control" ng-model="password" name="password" id="password"
                                   type="password" placeholder="Password" title="Enter your password" required="">
                        </div>
                        <button type="submit" ng-click="loginOk()" id="btnLogin" class="btn btn-primary">Login</button>
                    </form>
                </div>
            </li>
            <li ng-show="login" class=""><a href="#login" ng-click="loginOk()">Desbloquear Aplicación <span
                    class="sr-only">(current)</span></a></li>
            <li ng-hide="login" class=""><a href="#" ng-click="logOutOk()">Bloquear Aplicación <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <form class="navbar-form navbar-left">


        </form>
        <form class="navbar-form navbar-right">
            <div class="form-group">
                <div class="input-group">

                    <input type="text" ng-model="searchKeyword" class="form-control"
                           placeholder="Ingrese nombre, compañia, etc.">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                </div>
            </div>

            <!-- *****Uncomment this code puts a button to add a new visitor on the navBar ********-->

            <!--<button type="submit" data-toggle="modal" data-target="#myModal" ng-click="preAdd()"
                    class="btn btn-primary">Agregar Visitante
            </button>-->
            <!--***********************************************************************************-->

        </form>

    </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
</div>
</div>

<!-- Main container -->
<div class="container">
    <div class="panel panel-default">

        <div class="panel-heading clearfix">
            <h1 class="panel-title pull-left">Listado de Visitantes</h1>
            <div class="btn-group pull-right">
                <a ng-disabled="login" href="#" class="btn btn-primary btn-sm" ng-click="preAdd()" data-toggle="modal"
                   data-target="#myModal">Agregar Visitante</a>
            </div>
        </div>
        <!-- Table with the visitors content -->
        <table class="table">
            <thead>
                <tr style="text-align:center">
                    <th><a href="" ng-click="orderBy('name')">Nombre</a></th>
                    <th><a href="" ng-click="orderBy('company')">Compañia</a></th>
                    <th><a href="" ng-click="orderBy('innkeeper')">Anfitrión</a></th>
                    <th><a href="" ng-click="orderBy('inDate')">Hora de entrada</a></th>
                    <th><a href="" ng-click="orderBy('outDate')">Hora de salida</a></th>
                    <th style="align:center">Salida</th>
                    <th style="align:center">Editar</th>
                    <th style="align:center">Eliminar</th>
                </tr>
            </thead>

            <tr ng-repeat="visitor in listOfVisitors | filter: searchKeyword | orderBy:selectOrder">
                <td><p ng-bind="visitor.name"></p></td>
                <td><p ng-bind="visitor.company"></p></td>
                <td><p ng-bind="visitor.innkeeper"></p></td>
                <td><p ng-bind="visitor.inDate | date:'HH:mm'"></p></td>
                <td><p ng-bind="visitor.outDate | date: 'HH:mm'"></p></td>
                <td style="align:center">
                    <button ng-disabled="login" class="btn btn-sm btn-warning" ng-click="visitorOut(visitor.id)"
                            ng-show="visitor.canOut">
                            <i class="fa fa-edit"></i>Salida
                    </button>
                </td>
                <td style="align:center">
                    <button ng-disabled="login" class="btn btn-sm btn-info" ng-click="editVisitor(visitor, $index);">
                        <i class="fa fa-edit"></i>Editar
                    </button>
                </td>
                <td style="align:center">
                    <button ng-disabled="login" ng-click="preDelVisitor(visitor, $index);" class="btn btn-sm btn-danger">
                        <i class="fa fa-trash"></i>Eliminar
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Cerrar</span></button>
                <h4 ng-show="isInAddMode" class="modal-title">Agregar Visitante</h4>
                <h4 ng-show="isInEditMode" class="modal-title">Actualizar Visitante</h4>
                <h4 ng-show="isInDelMode" class="modal-title">Eliminar Visitante</h4>
            </div>

            <div class="modal-body">
                <div class="form-group" name="addForm">
                    <h3 ng-show="isInDelMode" align="center">¿Desea eliminar el visitante?</h3>
                    <label for="visitorName">Nombre</label>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                        <input ng-disabled="isInDelMode" type="text" class="form-control" id="visitorName"
                               name="visitorName"
                               placeholder="Nombre del Visitante" ng-model="visitorObj.name" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="linkTitle">Empresa</label>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-home"></span></span>
                        <input ng-disabled="isInDelMode" type="text" class="form-control" id="linkTitle"
                               name="linkTitle"
                               placeholder="Nombre de la compañia" ng-model="visitorObj.company" ng-required="true"
                               required>
                    </div>
                </div>

                <div ng-hide="isInDelMode" class="form-group">
                    <label for="innkeeper">Anfitrión </label>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-check"></span></span>
                        <select ng-disabled="isInDelMode" name="" id="innkeeper" class="form-control"
                                ng-model="visitorObj.innkeeper">
                            <option value="">(Seleccione el anfitrión)</option>
                            <option value="{{innkeeper.name}}" ng-repeat="innkeeper in innkeepers" required>
                                {{ innkeeper.name }}
                            </option>
                        </select>
                    </div>
                </div>

                <div ng-hide="isInDelMode" class="form-group">
                    <label for="inDate">Hora de entrada</label>
                    <div class="input-group">
                        <span class="input-group-addon" id=""><span class="glyphicon glyphicon-time"></span></span>
                        <input ng-disabled="isInDelMode" type="text" class="form-control" id="inDate" name="inDate"
                               placeholder="hrs:mins"
                               ng-model="visitorObj.inDate" ng-required="true" required>
                    </div>
                </div>

                <div ng-hide="isInDelMode || isInAddMode" class="form-group">
                    <label for="outDate">Hora de salida</label>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                        <input ng-disabled="isInDelMode" type="text" class="form-control" id="outDate" name="inDate"
                               placeholder="Hora de salida"
                               ng-model="visitorObj.outDate" ng-required="true">
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeDialog();">Cancelar
                </button>
                <button type="button" class="btn btn-primary" ng-click="updateVisitor();" ng-show="isInEditMode">
                    Actualizar visitante
                </button>
                <button type="button" class="btn btn-danger" ng-click="visitorDel(currVis, index);"
                        ng-show="isInDelMode">Eliminar visitante
                </button>
                <button type="button" class="btn btn-primary" ng-click="addVisitor();" ng-show="isInAddMode">Agregar
                    Visitante
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- jquery v3.1.0-->
<script src="https://code.jquery.com/jquery-3.1.0.min.js"
        integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

<!-- script.js -->
<script src="js/script.js"></script>

</body>
</html>